//- index.pug
extends layout.pug
block content
  // Main container
  .container
    nav.level
      // Left side
      .level-left
        .level-item
          img(src='/images/logo.svg')
        .level-item
          .field.has-addons
            p.control
              input(class='input',type='text',placeholder='Find a domain')
            p.control
              button(class='button') Search
      // Right side
      .level-right
        if isLogin
          p.level-item #{loginUser.info.name}
          p.level-item#countDo 0个域名
          p.level-item: a(class='button',href='/logout') 退出
        else
          p.level-item.heading 请先登录吧:)
          p.level-item: a(class='button is-success',href=loginUrl) 登录
  - if(loginUser) { var infoStr = JSON.stringify(loginUser) } else { var infoStr = 'false'} ;
  script.
    var Loginuser = !{infoStr}
  script(src='https://unpkg.com/axios@0.17.1/dist/axios.min.js')
  script(src='https://unpkg.com/redux@3.7.2/dist/redux.js')
  script(src='/js/rune.js')